VITE_PUBLIC_API_BASE=https://192.168.1.100/public
VITE_SECURED_API_BASE=https://192.168.1.100
VITE_KEYCLOAK_URL=https://192.168.1.100/auth
VITE_KEYCLOAK_REALM=basyx
VITE_KEYCLOAK_CLIENT_ID=basyx-web
VITE_AAS_ID=https://example.org/aas/schunk/pgn-plus-p-64-1
VITE_TIMESERIES_ID=https://example.org/submodels/schunk/pgn-plus-p-64-1/timeseries
VITE_POLL_INTERVAL_MS=2000
VITE_REQUEST_TIMEOUT_MS=8000
